<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TaskTracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.scss") %>"/>
  </head>
      <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-light bg-white">
	<div class="col-4">
	  <ul class="navbar-nav mr-auto">
	    <div class="row">
	      <div class="column">
		<li class="nav-item active">
		  <a class="btn btn-info" href="/" role="button">Home</a>
		</li>
	      </div>
	      <div class="column">
		<li class="nav-item">
		  <a class="btn btn-info" role="button" href="/tasks">Tasks</a>
		</li>
	      </div>
	      <div class="column">
		<li>
		  <a class="btn btn-info" role="button"  href="/users/new">Register</a>
		</li>
	      </div>
	    </div>
	  </ul>
	</div>
	<div class="col-4">
	  <%= if @current_user do %>
	  <p class="my-3">
            Current User: <%= @current_user.email %> |
            <%= link("Logout", to: Routes.session_path(@conn, :delete),
		method: :delete) %>
	  </p>
	  <% else %>
	  <%= form_for @conn, Routes.session_path(@conn, :create),
              [class: "form-inline"], fn f -> %>
	  <%= text_input f, :email, class: "form-control" %>
	  <%= submit "Login", class: "btn btn-success" %>
	  <% end %>
	  <% end %>
	</div>
      </nav>
  <body>
    <main role="main" class="container">
      <%= render @view_module, @view_template, assigns %>
    </main>
  </body>
</html>
